In [1]:
import pandas as pd
import numpy as np
import os


import matplotlib.pyplot as plt
%matplotlib inline

pd.set_option('max.columns',500)

In [4]:
df = pd.read_csv('/Users/roshansk/Documents/PDSG/Projects/ACLU/Final Report/all_counties_unique_otn.csv')

df.drop_duplicates(subset='OTN',inplace = True)

countyList = list(df.county.unique())

/Users/roshansk/opt/anaconda3/lib/python3.7/site-packages/IPython/core/interactiveshell.py:3058: DtypeWarning: Columns (18,30) have mixed types. Specify dtype option on import or set low_memory=False.
  interactivity=interactivity, compiler=compiler, result=result)

In [5]:
df.head()

,Unnamed: 0,BailAction,BailActionAmount,BailActionAuthority,BailActionCreatedSystem,BailActionDate,BailPostingStatus,BailPostingStatusDate,BailType,Charge,County,CourtNumber,DefendantRace,DefendantSex,Description,DisposingJudge,DistrictCourtNumber,DocketNumber,DocketStart,DocketType,MeanCleanedGravityScore,OTN,OffenseDate,OffenseDisposition,OffenseSequenceNumber,Section,SubSection,SuretyName,SuretyType,System,Title,county,gravity key,hasBail
0,0,Set,0.0,"Leete, John B.",CP-55-53-Crim,1998-08-10 00:00:00,Posted,1998-08-10 00:00:00,ROR,18.3925A,53.0,CP-55-53-Crim,Unknown/Unreported,Male,Receiving Stolen Property,"Minor, Stephen PB",NaN,CP-53-CR-0000145-1998,NaN,CR,6.0,F0428120,1998-08-01 00:00:00,Nolle Prossed,2.0,3925,A,"Groff, Wayne Allen",Self,CPCMS,18,Potter,18.3925A,False
1,1,Set,2500.0,"Easton, Barbara J.",CP-55-53-Crim,2004-07-12 00:00:00,Posted,2004-07-12 15:30:27,Monetary,75.1571A1,53.0,CP-55-53-Crim,Unknown/Unreported,Male,Rec'd Sus'd Fict Alt'd Etc Drivers Lic,"Minor, Stephen PB",NaN,CP-53-CR-0000261-2004,NaN,CR,5.0,E2880275,2002-08-04 00:00:00,Guilty Plea,3.0,1571,A1,"Stumpp, Barry Jr.",Self,CPCMS,75,Potter,75.1571A1,True
2,2,Set,0.0,"Easton, Annette L.",MDJ-55-3-01,2010-10-21 11:13:00,Posted,2010-10-21 09:22:50,ROR,75.3802D1I,53.0,CP-55-53-Crim,White,Male,DUI: Controlled Substance - Schedule 1 - 1st O...,"Minor, Stephen PB",NaN,CP-53-CR-0000200-2010,NaN,CR,4.0,J1646816,2010-08-21 00:00:00,Nolle Prossed,1.0,3802,D1i*,"Breck, Dustin John",Self,CPCMS,75,Potter,75.3802D1I,False
3,3,Set,2500.0,"Stubbs, Kari A.",MDJ-55-4-01,2012-04-24 10:09:00,NaN,NaN,Unsecured,75.3802C,53.0,CP-55-53-Crim,White,Male,DUI: Highest Rte of Alc (BAC .16+) 2nd Off,"Minor, Stephen PB",NaN,CP-53-CR-0000105-2012,NaN,CR,4.0,L6835990,2012-01-20 00:00:00,Guilty Plea,2.0,3802,C**,NaN,NaN,CPCMS,75,Potter,75.3802C,True
4,4,Set,1000.0,"Weiss, Delores G.",MDJ-55-4-03,2012-09-05 15:16:00,NaN,NaN,Monetary,18.3925A,53.0,CP-55-53-Crim,White,Female,Receiving Stolen Property,"Minor, Stephen PB",NaN,CP-53-CR-0000201-2012,NaN,CR,6.0,T2240206,2012-08-15 00:00:00,Guilty Plea,4.0,3925,A,NaN,NaN,CPCMS,18,Potter,18.3925A,True

# Bail Trends

## Cash Bail Rate

### State

In [15]:
val = len(df[df.BailType=='Monetary'])/len(df) 

print(f"Share of Monetary cases : {val}")
print(f"Number of Monetary cases : {len(df[df.BailType=='Monetary'])}")
print(f"Total Number of cases : {len(df)}")

Share of Monetary cases : 0.42596669790166813
Number of Monetary cases : 167741
Total Number of cases : 393789

### County

In [21]:
totalCases = df.groupby('county')['OTN'].count().reset_index()
totalCases.columns = ['county','total_cases']
totalCases.head()

      county  total_cases
0      Adams         2597
1  Allegheny        32286
2  Armstrong         1851
3     Beaver         6275
4    Bedford         1496

In [22]:
cashCases = df[df.BailType=='Monetary'].groupby('county')['OTN'].count().reset_index()
cashCases.columns = ['county','cash_cases']
cashCases.head()

      county  cash_cases
0      Adams         784
1  Allegheny       14047
2  Armstrong         760
3     Beaver        3078
4    Bedford         578

In [24]:
countyDf = pd.merge(totalCases, cashCases, on = 'county')
countyDf

          county  total_cases  cash_cases
0          Adams         2597         784
1      Allegheny        32286       14047
2      Armstrong         1851         760
3         Beaver         6275        3078
4        Bedford         1496         578
..           ...          ...         ...
62    Washington         6829        2659
63         Wayne          801         298
64  Westmoreland        12577        3989
65       Wyoming         1079         385
66          York        16800        7438

[67 rows x 3 columns]

### MDJ

In [25]:
totalCases = df.groupby('BailActionAuthority')['OTN'].count().reset_index()
totalCases.columns = ['BailActionAuthority','total_cases']
totalCases.head()

  BailActionAuthority  total_cases
0    Abate, Frank Jr.            4
1   Abraham, Randy S.           18
2   Adams, H. Anthony          814
3    Adams, Joseph C.            2
4    Aigner, Paula M.          892

In [26]:
cashCases = df[df.BailType=='Monetary'].groupby('BailActionAuthority')['OTN'].count().reset_index()
cashCases.columns = ['BailActionAuthority','cash_cases']
cashCases.head()

  BailActionAuthority  cash_cases
0    Abate, Frank Jr.           1
1   Abraham, Randy S.           6
2   Adams, H. Anthony         206
3    Adams, Joseph C.           1
4    Aigner, Paula M.         470

In [29]:
countyDf = pd.merge(totalCases, cashCases, on = 'BailActionAuthority')
countyDf

     BailActionAuthority  total_cases  cash_cases
0       Abate, Frank Jr.            4           1
1      Abraham, Randy S.           18           6
2      Adams, H. Anthony          814         206
3       Adams, Joseph C.            2           1
4       Aigner, Paula M.          892         470
...                  ...          ...         ...
1048      Zozos, Paul T.          622         313
1049        Zucco, Linda          249          74
1050   Zulick, Arthur L.           14           5
1051    Zungali, Michael          490         173
1052       Zyra, Gary M.          173          85

[1053 rows x 3 columns]

## ROR Rate

### State

In [30]:
val = len(df[df.BailType=='ROR'])/len(df) 

print(f"Share of ROR cases : {val}")
print(f"Number of ROR cases : {len(df[df.BailType=='Monetary'])}")
print(f"Total Number of cases : {len(df)}")

Share of ROR cases : 0.2273527193497025
Number of ROR cases : 167741
Total Number of cases : 393789

### County

In [32]:
totalCases = df.groupby('county')['OTN'].count().reset_index()
totalCases.columns = ['county','total_cases']


rorCases = df[df.BailType=='ROR'].groupby('county')['OTN'].count().reset_index()
rorCases.columns = ['county','ror_cases']


outDf = pd.merge(totalCases, rorCases, on = 'county', how='left')
outDf

          county  total_cases  ror_cases
0          Adams         2597      646.0
1      Allegheny        32286     9543.0
2      Armstrong         1851      801.0
3         Beaver         6275     2247.0
4        Bedford         1496       27.0
..           ...          ...        ...
62    Washington         6829     1749.0
63         Wayne          801      277.0
64  Westmoreland        12577     4141.0
65       Wyoming         1079        2.0
66          York        16800     5596.0

[67 rows x 3 columns]

### MDJ

In [35]:
totalCases = df.groupby('BailActionAuthority')['OTN'].count().reset_index()
totalCases.columns = ['BailActionAuthority','total_cases']


rorCases = df[df.BailType=='ROR'].groupby('BailActionAuthority')['OTN'].count().reset_index()
rorCases.columns = ['BailActionAuthority','ror_cases']


outDf = pd.merge(totalCases, rorCases, on = 'BailActionAuthority', how='left')
outDf

     BailActionAuthority  total_cases  ror_cases
0       Abate, Frank Jr.            4        3.0
1      Abraham, Randy S.           18        NaN
2      Adams, H. Anthony          814      482.0
3       Adams, Joseph C.            2        1.0
4       Aigner, Paula M.          892        NaN
...                  ...          ...        ...
1206        Zucco, Linda          249       99.0
1207   Zulick, Arthur L.           14        NaN
1208    Zungali, Michael          490      161.0
1209      Zupsic, Joseph            1        1.0
1210       Zyra, Gary M.          173       23.0

[1211 rows x 3 columns]

## Unsecured Rate

### State

In [36]:
val = len(df[df.BailType=='Unsecured'])/len(df) 

print(f"Share of Unsecured cases : {val}")
print(f"Number of Unsecured cases : {len(df[df.BailType=='Unsecured'])}")
print(f"Total Number of cases : {len(df)}")

Share of Unsecured cases : 0.2929335253143181
Number of Unsecured cases : 115354
Total Number of cases : 393789

### County

In [38]:
totalCases = df.groupby('county')['OTN'].count().reset_index()
totalCases.columns = ['county','total_cases']


unsecuredCases = df[df.BailType=='Unsecured'].groupby('county')['OTN'].count().reset_index()
unsecuredCases.columns = ['county','unsecured_cases']


outDf = pd.merge(totalCases, unsecuredCases, on = 'county', how='left')
outDf

          county  total_cases  unsecured_cases
0          Adams         2597              790
1      Allegheny        32286              894
2      Armstrong         1851              229
3         Beaver         6275              794
4        Bedford         1496              891
..           ...          ...              ...
62    Washington         6829             2335
63         Wayne          801              226
64  Westmoreland        12577             3859
65       Wyoming         1079              689
66          York        16800             2644

[67 rows x 3 columns]

### MDJ

In [40]:
totalCases = df.groupby('BailActionAuthority')['OTN'].count().reset_index()
totalCases.columns = ['BailActionAuthority','total_cases']


unsecuredCases = df[df.BailType=='Unsecured'].groupby('BailActionAuthority')['OTN'].count().reset_index()
unsecuredCases.columns = ['BailActionAuthority','unsecured_cases']


outDf = pd.merge(totalCases, unsecuredCases, on = 'BailActionAuthority', how='left')
outDf

     BailActionAuthority  total_cases  unsecured_cases
0       Abate, Frank Jr.            4              NaN
1      Abraham, Randy S.           18             12.0
2      Adams, H. Anthony          814            125.0
3       Adams, Joseph C.            2              NaN
4       Aigner, Paula M.          892            422.0
...                  ...          ...              ...
1206        Zucco, Linda          249              NaN
1207   Zulick, Arthur L.           14              9.0
1208    Zungali, Michael          490            155.0
1209      Zupsic, Joseph            1              NaN
1210       Zyra, Gary M.          173              NaN

[1211 rows x 3 columns]

## Nonmonetary

### State

In [42]:
val = len(df[df.BailType=='Nonmonetary'])/len(df) 

print(f"Share of Nonmonetary cases : {val}")
print(f"Number of Nonmonetary cases : {len(df[df.BailType=='Nonmonetary'])}")
print(f"Total Number of cases : {len(df)}")

Share of Nonmonetary cases : 0.04791652382367207
Number of Nonmonetary cases : 18869
Total Number of cases : 393789

### County

In [43]:
totalCases = df.groupby('county')['OTN'].count().reset_index()
totalCases.columns = ['county','total_cases']


unsecuredCases = df[df.BailType=='Nonmonetary'].groupby('county')['OTN'].count().reset_index()
unsecuredCases.columns = ['county','nonmonetary_cases']


outDf = pd.merge(totalCases, unsecuredCases, on = 'county', how='left')
outDf

          county  total_cases  nonmonetary_cases
0          Adams         2597              372.0
1      Allegheny        32286             7683.0
2      Armstrong         1851               61.0
3         Beaver         6275              115.0
4        Bedford         1496                NaN
..           ...          ...                ...
62    Washington         6829               65.0
63         Wayne          801                NaN
64  Westmoreland        12577              586.0
65       Wyoming         1079                1.0
66          York        16800              959.0

[67 rows x 3 columns]

### MDJ

In [44]:
totalCases = df.groupby('BailActionAuthority')['OTN'].count().reset_index()
totalCases.columns = ['BailActionAuthority','total_cases']


unsecuredCases = df[df.BailType=='Nonmonetary'].groupby('BailActionAuthority')['OTN'].count().reset_index()
unsecuredCases.columns = ['BailActionAuthority','nonmonetary_cases']


outDf = pd.merge(totalCases, unsecuredCases, on = 'BailActionAuthority', how='left')
outDf

     BailActionAuthority  total_cases  nonmonetary_cases
0       Abate, Frank Jr.            4                NaN
1      Abraham, Randy S.           18                NaN
2      Adams, H. Anthony          814                NaN
3       Adams, Joseph C.            2                NaN
4       Aigner, Paula M.          892                NaN
...                  ...          ...                ...
1206        Zucco, Linda          249               75.0
1207   Zulick, Arthur L.           14                NaN
1208    Zungali, Michael          490                NaN
1209      Zupsic, Joseph            1                NaN
1210       Zyra, Gary M.          173               65.0

[1211 rows x 3 columns]

## Mean Bail Amount

### State

In [51]:
out  = df[df.BailType.isin(['Monetary','Nominal','Nonmonetary','Unsecured','ROR'])].groupby('BailType').agg({'BailActionAmount':'mean','OTN':'count'}).reset_index()
out.columns = ['BailType','meanBailAmount','numCases']
out

      BailType  meanBailAmount  numCases
0     Monetary    47254.570275    167740
1      Nominal     2903.742963       513
2  Nonmonetary        0.000000     18869
3          ROR        0.000034     89529
4    Unsecured     8316.749841    115354

#### After removing outliers (99th percentile)

In [76]:
bailTypes = ['Monetary','Nominal','Unsecured']

for i in range(len(bailTypes)):
    sub = df[df.BailType==bailTypes[i]]
    
    percentValue = np.quantile(sub.BailActionAmount,0.99)
    
    meanBailAmount = np.mean(sub[sub.BailActionAmount<=percentValue]['BailActionAmount'])
    
    print(f"{bailTypes[i]:10} : {meanBailAmount}")

Monetary   : 35949.67122303108
Nominal    : 817.7912031558186
Unsecured  : 7289.618016347391

### County

In [67]:
out  = df[df.BailType.isin(['Monetary','Nominal','Nonmonetary','Unsecured','ROR'])].groupby(['county','BailType']).agg({'BailActionAmount':'mean','OTN':'count'}).reset_index()
out.columns = ['county','BailType','meanBailAmount','numCases']
out

        county     BailType  meanBailAmount  numCases
0        Adams     Monetary    34094.387755       784
1        Adams  Nonmonetary        0.000000       372
2        Adams          ROR        0.000000       646
3        Adams    Unsecured     6116.455696       790
4    Allegheny     Monetary    21868.048799     14047
..         ...          ...             ...       ...
277       York     Monetary    28995.485566      7438
278       York      Nominal     2690.586207        58
279       York  Nonmonetary        0.000000       959
280       York          ROR        0.000000      5596
281       York    Unsecured     9696.898638      2644

[282 rows x 4 columns]

#### After removing outliers (99th percentile)

In [75]:
countyList = list(df.county.unique())

bailTypes = ['Monetary','Nominal','Unsecured']


for j in range(len(countyList)):
    for i in range(len(bailTypes)):
        sub = df[(df.county == countyList[j]) & (df.BailType==bailTypes[i])]
        
        if len(sub)==0:
            continue

        percentValue = np.quantile(sub.BailActionAmount,0.99)

        meanBailAmount = np.mean(sub[sub.BailActionAmount<=percentValue]['BailActionAmount'])

        print(f"{countyList[j]:15} {bailTypes[i]:10} : {meanBailAmount}")

Potter          Monetary   : 22323.943661971833
Potter          Unsecured  : 7808.781869688385
Cumberland      Monetary   : 28436.02593440122
Cumberland      Nominal    : 1.0
Cumberland      Unsecured  : 6468.6579150579155
Pike            Monetary   : 28077.22900763359
Pike            Nominal    : 10000.0
Pike            Unsecured  : 9409.23076923077
Forest          Monetary   : 27210.526315789473
Forest          Unsecured  : 18255.81395348837
Wayne           Monetary   : 34180.0
Wayne           Unsecured  : 8535.714285714286
Fulton          Monetary   : 54747.899159663866
Fulton          Unsecured  : 32983.87096774193
Lackawanna      Monetary   : 31853.256777812403
Lackawanna      Nominal    : 1357.07
Lackawanna      Unsecured  : 10281.341390814558
Dauphin         Monetary   : 40805.15511771581
Dauphin         Nominal    : 9.285714285714286
Dauphin         Unsecured  : 7140.254872563718
Huntingdon      Monetary   : 20545.026642984016
Huntingdon      Unsecured  : 8332.55269320843
Somerset        Monetary   : 39843.75
Somerset        Nominal    : 1.0
Somerset        Unsecured  : 18298.728813559323
Cameron         Monetary   : 26833.333333333332
Cameron         Unsecured  : 6801.801801801802
Montgomery      Monetary   : 31632.47175047647
Montgomery      Nominal    : 1.0
Montgomery      Unsecured  : 5806.949727825809
Tioga           Monetary   : 20683.63740022805
Tioga           Unsecured  : 5188.085106382979
Washington      Monetary   : 25195.231382978724
Washington      Nominal    : 1.0
Washington      Unsecured  : 5445.488802756245
Bedford         Monetary   : 51751.30890052356
Bedford         Unsecured  : 8697.845804988661
Susquehanna     Monetary   : 27633.12302839117
Susquehanna     Unsecured  : 3532.375478927203
Erie            Monetary   : 30685.46792587313
Erie            Unsecured  : 6346.612396694215
Bucks           Monetary   : 69455.05168269231
Bucks           Nominal    : 1.0
Bucks           Unsecured  : 10491.35046113307
Carbon          Monetary   : 26807.524575513853
Carbon          Unsecured  : 5168.004880694143
Bradford        Monetary   : 33744.44922341697
Bradford        Unsecured  : 8753.92578125
Fayette         Monetary   : 21350.12091898428
Fayette         Unsecured  : 7623.109656301146
Jefferson       Monetary   : 51856.98924731183
Jefferson       Unsecured  : 9962.686567164179
Schuylkill      Monetary   : 22797.632575757576
Schuylkill      Nominal    : 1.0
Schuylkill      Unsecured  : 7519.19750951228
Northumberland  Monetary   : 43954.100346020765
Northumberland  Nominal    : 1.0
Northumberland  Unsecured  : 7321.285140562249
Monroe          Monetary   : 27444.43916449086
Monroe          Nominal    : 1.0
Monroe          Unsecured  : 5730.650154798762
Lawrence        Monetary   : 21700.91514143095
Lawrence        Nominal    : 1500.0
Lawrence        Unsecured  : 10927.272727272728
Delaware        Monetary   : 42946.4385449387
Delaware        Nominal    : 29.83478260869565
Delaware        Unsecured  : 13046.314160433325
Indiana         Monetary   : 16626.934984520125
Indiana         Unsecured  : 3991.935483870968
Mercer          Monetary   : 26800.418410041842
Mercer          Unsecured  : 9421.435562805873
Cambria         Monetary   : 37015.83775953646
Cambria         Unsecured  : 10540.189873417721
Mifflin         Monetary   : 39841.994421199444
Mifflin         Nominal    : 25000.0
Mifflin         Unsecured  : 3774.637450199203
Columbia        Monetary   : 39322.57396449704
Columbia        Unsecured  : 7230.254350736279
Blair           Monetary   : 33185.01483679525
Blair           Unsecured  : 9525.957120980092
Lehigh          Monetary   : 20369.126161644606
Lehigh          Nominal    : 1.0
Lehigh          Unsecured  : 5011.135146621335
Elk             Monetary   : 27174.468085106382
Elk             Unsecured  : 4298.728813559322
Allegheny       Monetary   : 19263.86463944895
Allegheny       Nominal    : 1.0
Allegheny       Unsecured  : 9462.71186440678
Centre          Monetary   : 45856.85591397849
Centre          Unsecured  : 23799.072261072262
Beaver          Monetary   : 19343.883180628272
Beaver          Nominal    : 1.0
Beaver          Unsecured  : 5011.216730038022
Northampton     Monetary   : 27792.99896076903
Northampton     Nominal    : 1.0
Northampton     Unsecured  : 5359.364873622812
McKean          Monetary   : 24432.539682539682
McKean          Unsecured  : 3967.4679487179487
Adams           Monetary   : 30704.225352112677
Adams           Unsecured  : 5758.576874205845
Wyoming         Monetary   : 28056.575520833332
Wyoming         Unsecured  : 7856.622998544396
Chester         Monetary   : 30195.497880827723
Chester         Nominal    : 1.0
Chester         Unsecured  : 8514.96679316888
Venango         Monetary   : 40401.69491525424
Venango         Unsecured  : 6045.305907172996
Franklin        Monetary   : 60055.27354765934
Franklin        Nominal    : 5000.5
Franklin        Unsecured  : 20407.942238267147
Butler          Monetary   : 18441.938291139242
Butler          Nominal    : 1.0
Butler          Unsecured  : 9325.242718446601
Greene          Monetary   : 17737.82978723404
Greene          Nominal    : 50000.0
Greene          Unsecured  : 4928.807947019867
Montour         Monetary   : 39636.05930693069
Montour         Unsecured  : 12928.585714285715
Union           Monetary   : 31010.36269430052
Union           Unsecured  : 13521.978021978022
Lancaster       Monetary   : 59192.745105215006
Lancaster       Nominal    : 13950.5
Lancaster       Unsecured  : 8717.082609958507
Westmoreland    Monetary   : 21518.735407388664
Westmoreland    Unsecured  : 6434.901093180635
Perry           Monetary   : 27270.032154340835
Perry           Nominal    : 1925.6363636363637
Perry           Unsecured  : 10323.321554770318
Lycoming        Monetary   : 57064.70963624761
Lycoming        Unsecured  : 5278.541953232462
Philadelphia    Monetary   : 54184.56377904293
Philadelphia    Nominal    : 1.0
Philadelphia    Unsecured  : 4437.136929460581
Clarion         Monetary   : 21939.59595959596
Clarion         Unsecured  : 5021.384976525822
Clearfield      Monetary   : 27077.8231292517
Clearfield      Unsecured  : 5968.290796597061
Berks           Monetary   : 31744.74570223808
Berks           Nominal    : 5005.0
Berks           Unsecured  : 7403.577268195414
Warren          Monetary   : 29426.6862170088
Warren          Unsecured  : 19734.126984126986
Sullivan        Monetary   : 16973.684210526317
Sullivan        Unsecured  : 9115.384615384615
Clinton         Monetary   : 23683.874866920156
Clinton         Nominal    : 1.0
Clinton         Unsecured  : 5790.549180327869
Crawford        Monetary   : 24982.37885462555
Crawford        Unsecured  : 9178.217821782178
Snyder          Monetary   : 29777.894736842107
Snyder          Nominal    : 25000.0
Snyder          Unsecured  : 5979.057591623036
York            Monetary   : 23403.72323693143
York            Nominal    : 1422.0
York            Unsecured  : 8787.17067583047
Armstrong       Monetary   : 14903.293807641634
Armstrong       Unsecured  : 4953.539823008849
Lebanon         Monetary   : 27678.02137767221
Lebanon         Nominal    : 1.0
Lebanon         Unsecured  : 3376.1819367460057
Juniata         Monetary   : 26453.757225433525
Juniata         Unsecured  : 5711.734693877551
Luzerne         Monetary   : 37043.958350279616
Luzerne         Nominal    : 10000.0
Luzerne         Unsecured  : 7387.58887171561

## % of MDJs who use cash bail more than any other bail type

In [102]:
out = df.groupby(['BailActionAuthority','BailType'])['OTN'].count().reset_index()
out = out.pivot(index='BailActionAuthority', columns='BailType', values='OTN').reset_index()
out

BailType,BailActionAuthority,Migrated Bail Type,Monetary,Monetary - Cash Percentage,Nominal,Nonmonetary,ROR,ROR - Common Pleas,Unsecured
0,"Abate, Frank Jr.",NaN,1.0,NaN,NaN,NaN,3.0,NaN,NaN
1,"Abraham, Randy S.",NaN,6.0,NaN,NaN,NaN,NaN,NaN,12.0
2,"Adams, H. Anthony",NaN,206.0,NaN,NaN,NaN,482.0,NaN,125.0
3,"Adams, Joseph C.",NaN,1.0,NaN,NaN,NaN,1.0,NaN,NaN
4,"Aigner, Paula M.",NaN,470.0,NaN,NaN,NaN,NaN,NaN,422.0
...,...,...,...,...,...,...,...,...,...
1205,"Zucco, Linda",NaN,74.0,NaN,NaN,75.0,99.0,NaN,NaN
1206,"Zulick, Arthur L.",NaN,5.0,NaN,NaN,NaN,NaN,NaN,9.0
1207,"Zungali, Michael",NaN,173.0,NaN,NaN,NaN,161.0,NaN,155.0
1208,"Zupsic, Joseph",NaN,NaN,NaN,NaN,NaN,1.0,NaN,NaN
1209,"Zyra, Gary M.",NaN,85.0,NaN,NaN,65.0,23.0,NaN,NaN

In [103]:
out['mostCommonBailType'] = out[out.columns[1:]].apply(lambda x : np.argmax(x), axis = 1)

In [104]:
out.head()

BailType,BailActionAuthority,Migrated Bail Type,Monetary,Monetary - Cash Percentage,Nominal,Nonmonetary,ROR,ROR - Common Pleas,Unsecured,mostCommonBailType
0,"Abate, Frank Jr.",NaN,1.0,NaN,NaN,NaN,3.0,NaN,NaN,ROR
1,"Abraham, Randy S.",NaN,6.0,NaN,NaN,NaN,NaN,NaN,12.0,Unsecured
2,"Adams, H. Anthony",NaN,206.0,NaN,NaN,NaN,482.0,NaN,125.0,ROR
3,"Adams, Joseph C.",NaN,1.0,NaN,NaN,NaN,1.0,NaN,NaN,Monetary
4,"Aigner, Paula M.",NaN,470.0,NaN,NaN,NaN,NaN,NaN,422.0,Monetary

In [108]:
### Most common bail types for a given judge

# For 38.18% of all MDJs, Unsecured is the most common type of bail that they assign
# For 37.85% of all MDJs, Monetary is the most common type of bail that they assign

out.mostCommonBailType.value_counts()/len(out)

Unsecured                     0.381818
Monetary                      0.378512
ROR                           0.189256
Nonmonetary                   0.030579
ROR - Common Pleas            0.008264
Nominal                       0.006612
Monetary - Cash Percentage    0.004132
Migrated Bail Type            0.000826
Name: mostCommonBailType, dtype: float64

## Bail Posting Rate

### State

In [112]:
### Overall Bail posting status
df.BailPostingStatus.value_counts(dropna=False)

NaN                257854
Posted             132838
Partial Posting      1659
Modified             1438
Name: BailPostingStatus, dtype: int64

In [113]:
### Bail Posting status for cash bail (monetary) cases
df[df.BailType == 'Monetary'].BailPostingStatus.value_counts(dropna=False)

NaN                98164
Posted             67952
Partial Posting     1367
Modified             258
Name: BailPostingStatus, dtype: int64

### County

In [126]:
### County wise Bail posting status
sub = df.copy()

# 'blank' represents cases where there was no record for BailPostingStatus
sub.BailPostingStatus.fillna('blank',inplace = True)

out = sub.groupby(['county','BailPostingStatus']).OTN.count().reset_index()
out.columns = ['county','BailStatus','numCases']
out

        county       BailStatus  numCases
0        Adams         Modified         5
1        Adams  Partial Posting         1
2        Adams           Posted      2169
3        Adams            blank       422
4    Allegheny         Modified        10
..         ...              ...       ...
210    Wyoming            blank       948
211       York         Modified         4
212       York  Partial Posting        13
213       York           Posted      4131
214       York            blank     12652

[215 rows x 3 columns]

# Charges

In [137]:
### Most common crimes associated with cash bail
out = df[df.BailType=='Monetary']['Description'].value_counts().reset_index()
out.columns = ['Description','numCases']
out.head(10)

                                         Description  numCases
0  Manufacture, Delivery, or Possession With Inte...     26495
1                          Receiving Stolen Property     13545
2                                 Aggravated Assault     13128
3                                     Simple Assault     11295
4                Int Poss Contr Subst By Per Not Reg      8866
5                             Retail Theft-Take Mdse      8417
6    Terroristic Threats W/ Int To Terrorize Another      5325
7             Firearms Not To Be Carried W/O License      4042
8                 Theft By Unlaw Taking-Movable Prop      3129
9                            Use/Poss Of Drug Paraph      2728

In [136]:
### Share of monetary cases for these top crimes. What percentage of these crimes are set monetary bail


for i in range(10):
    crime = out.Description.iloc[i]
    cashCases = out.numCases.iloc[i]
    
    totalCases = len(df[df.Description==crime])
    
    print(f"{crime} : {cashCases/totalCases}")

Manufacture, Delivery, or Possession With Intent to Manufacture or Deliver : 0.7909899689515166
Receiving Stolen Property : 0.4678433268858801
Aggravated Assault : 0.8554114810712191
Simple Assault : 0.5296600234466589
Int Poss Contr Subst By Per Not Reg : 0.30236682354546074
Retail Theft-Take Mdse : 0.38571166712491983
Terroristic Threats W/ Int To Terrorize Another : 0.6659579789894947
Firearms Not To Be Carried W/O License : 0.9002227171492205
Theft By Unlaw Taking-Movable Prop : 0.41350601295097134
Use/Poss Of Drug Paraph : 0.2896273489754751