In [1]:
import pandas as pd
import numpy as np
import os


import matplotlib.pyplot as plt
%matplotlib inline

pd.set_option('max.columns',500)

In [4]:
df = pd.read_csv('/Users/roshansk/Documents/PDSG/Projects/ACLU/Final Report/all_counties_unique_otn.csv')

df.drop_duplicates(subset='OTN',inplace = True)

countyList = list(df.county.unique())

/Users/roshansk/opt/anaconda3/lib/python3.7/site-packages/IPython/core/interactiveshell.py:3058: DtypeWarning: Columns (18,30) have mixed types. Specify dtype option on import or set low_memory=False.
  interactivity=interactivity, compiler=compiler, result=result)

In [5]:
df.head()

,Unnamed: 0,BailAction,BailActionAmount,BailActionAuthority,BailActionCreatedSystem,BailActionDate,BailPostingStatus,BailPostingStatusDate,BailType,Charge,County,CourtNumber,DefendantRace,DefendantSex,Description,DisposingJudge,DistrictCourtNumber,DocketNumber,DocketStart,DocketType,MeanCleanedGravityScore,OTN,OffenseDate,OffenseDisposition,OffenseSequenceNumber,Section,SubSection,SuretyName,SuretyType,System,Title,county,gravity key,hasBail
0,0,Set,0.0,"Leete, John B.",CP-55-53-Crim,1998-08-10 00:00:00,Posted,1998-08-10 00:00:00,ROR,18.3925A,53.0,CP-55-53-Crim,Unknown/Unreported,Male,Receiving Stolen Property,"Minor, Stephen PB",NaN,CP-53-CR-0000145-1998,NaN,CR,6.0,F0428120,1998-08-01 00:00:00,Nolle Prossed,2.0,3925,A,"Groff, Wayne Allen",Self,CPCMS,18,Potter,18.3925A,False
1,1,Set,2500.0,"Easton, Barbara J.",CP-55-53-Crim,2004-07-12 00:00:00,Posted,2004-07-12 15:30:27,Monetary,75.1571A1,53.0,CP-55-53-Crim,Unknown/Unreported,Male,Rec'd Sus'd Fict Alt'd Etc Drivers Lic,"Minor, Stephen PB",NaN,CP-53-CR-0000261-2004,NaN,CR,5.0,E2880275,2002-08-04 00:00:00,Guilty Plea,3.0,1571,A1,"Stumpp, Barry Jr.",Self,CPCMS,75,Potter,75.1571A1,True
2,2,Set,0.0,"Easton, Annette L.",MDJ-55-3-01,2010-10-21 11:13:00,Posted,2010-10-21 09:22:50,ROR,75.3802D1I,53.0,CP-55-53-Crim,White,Male,DUI: Controlled Substance - Schedule 1 - 1st O...,"Minor, Stephen PB",NaN,CP-53-CR-0000200-2010,NaN,CR,4.0,J1646816,2010-08-21 00:00:00,Nolle Prossed,1.0,3802,D1i*,"Breck, Dustin John",Self,CPCMS,75,Potter,75.3802D1I,False
3,3,Set,2500.0,"Stubbs, Kari A.",MDJ-55-4-01,2012-04-24 10:09:00,NaN,NaN,Unsecured,75.3802C,53.0,CP-55-53-Crim,White,Male,DUI: Highest Rte of Alc (BAC .16+) 2nd Off,"Minor, Stephen PB",NaN,CP-53-CR-0000105-2012,NaN,CR,4.0,L6835990,2012-01-20 00:00:00,Guilty Plea,2.0,3802,C**,NaN,NaN,CPCMS,75,Potter,75.3802C,True
4,4,Set,1000.0,"Weiss, Delores G.",MDJ-55-4-03,2012-09-05 15:16:00,NaN,NaN,Monetary,18.3925A,53.0,CP-55-53-Crim,White,Female,Receiving Stolen Property,"Minor, Stephen PB",NaN,CP-53-CR-0000201-2012,NaN,CR,6.0,T2240206,2012-08-15 00:00:00,Guilty Plea,4.0,3925,A,NaN,NaN,CPCMS,18,Potter,18.3925A,True

# Bail Trends

## Cash Bail Rate

### State

In [15]:
val = len(df[df.BailType=='Monetary'])/len(df) 

print(f"Share of Monetary cases : {val}")
print(f"Number of Monetary cases : {len(df[df.BailType=='Monetary'])}")
print(f"Total Number of cases : {len(df)}")

Share of Monetary cases : 0.42596669790166813
Number of Monetary cases : 167741
Total Number of cases : 393789

### County

In [21]:
totalCases = df.groupby('county')['OTN'].count().reset_index()
totalCases.columns = ['county','total_cases']
totalCases.head()

      county  total_cases
0      Adams         2597
1  Allegheny        32286
2  Armstrong         1851
3     Beaver         6275
4    Bedford         1496

In [22]:
cashCases = df[df.BailType=='Monetary'].groupby('county')['OTN'].count().reset_index()
cashCases.columns = ['county','cash_cases']
cashCases.head()

      county  cash_cases
0      Adams         784
1  Allegheny       14047
2  Armstrong         760
3     Beaver        3078
4    Bedford         578

In [24]:
countyDf = pd.merge(totalCases, cashCases, on = 'county')
countyDf

          county  total_cases  cash_cases
0          Adams         2597         784
1      Allegheny        32286       14047
2      Armstrong         1851         760
3         Beaver         6275        3078
4        Bedford         1496         578
..           ...          ...         ...
62    Washington         6829        2659
63         Wayne          801         298
64  Westmoreland        12577        3989
65       Wyoming         1079         385
66          York        16800        7438

[67 rows x 3 columns]

### MDJ

In [25]:
totalCases = df.groupby('BailActionAuthority')['OTN'].count().reset_index()
totalCases.columns = ['BailActionAuthority','total_cases']
totalCases.head()

  BailActionAuthority  total_cases
0    Abate, Frank Jr.            4
1   Abraham, Randy S.           18
2   Adams, H. Anthony          814
3    Adams, Joseph C.            2
4    Aigner, Paula M.          892

In [26]:
cashCases = df[df.BailType=='Monetary'].groupby('BailActionAuthority')['OTN'].count().reset_index()
cashCases.columns = ['BailActionAuthority','cash_cases']
cashCases.head()

  BailActionAuthority  cash_cases
0    Abate, Frank Jr.           1
1   Abraham, Randy S.           6
2   Adams, H. Anthony         206
3    Adams, Joseph C.           1
4    Aigner, Paula M.         470

In [29]:
countyDf = pd.merge(totalCases, cashCases, on = 'BailActionAuthority')
countyDf

     BailActionAuthority  total_cases  cash_cases
0       Abate, Frank Jr.            4           1
1      Abraham, Randy S.           18           6
2      Adams, H. Anthony          814         206
3       Adams, Joseph C.            2           1
4       Aigner, Paula M.          892         470
...                  ...          ...         ...
1048      Zozos, Paul T.          622         313
1049        Zucco, Linda          249          74
1050   Zulick, Arthur L.           14           5
1051    Zungali, Michael          490         173
1052       Zyra, Gary M.          173          85

[1053 rows x 3 columns]

## ROR Rate

### State

In [30]:
val = len(df[df.BailType=='ROR'])/len(df) 

print(f"Share of ROR cases : {val}")
print(f"Number of ROR cases : {len(df[df.BailType=='Monetary'])}")
print(f"Total Number of cases : {len(df)}")

Share of ROR cases : 0.2273527193497025
Number of ROR cases : 167741
Total Number of cases : 393789

### County

In [32]:
totalCases = df.groupby('county')['OTN'].count().reset_index()
totalCases.columns = ['county','total_cases']


rorCases = df[df.BailType=='ROR'].groupby('county')['OTN'].count().reset_index()
rorCases.columns = ['county','ror_cases']


outDf = pd.merge(totalCases, rorCases, on = 'county', how='left')
outDf

          county  total_cases  ror_cases
0          Adams         2597      646.0
1      Allegheny        32286     9543.0
2      Armstrong         1851      801.0
3         Beaver         6275     2247.0
4        Bedford         1496       27.0
..           ...          ...        ...
62    Washington         6829     1749.0
63         Wayne          801      277.0
64  Westmoreland        12577     4141.0
65       Wyoming         1079        2.0
66          York        16800     5596.0

[67 rows x 3 columns]

### MDJ

In [35]:
totalCases = df.groupby('BailActionAuthority')['OTN'].count().reset_index()
totalCases.columns = ['BailActionAuthority','total_cases']


rorCases = df[df.BailType=='ROR'].groupby('BailActionAuthority')['OTN'].count().reset_index()
rorCases.columns = ['BailActionAuthority','ror_cases']


outDf = pd.merge(totalCases, rorCases, on = 'BailActionAuthority', how='left')
outDf

     BailActionAuthority  total_cases  ror_cases
0       Abate, Frank Jr.            4        3.0
1      Abraham, Randy S.           18        NaN
2      Adams, H. Anthony          814      482.0
3       Adams, Joseph C.            2        1.0
4       Aigner, Paula M.          892        NaN
...                  ...          ...        ...
1206        Zucco, Linda          249       99.0
1207   Zulick, Arthur L.           14        NaN
1208    Zungali, Michael          490      161.0
1209      Zupsic, Joseph            1        1.0
1210       Zyra, Gary M.          173       23.0

[1211 rows x 3 columns]

## Unsecured Rate

### State

In [36]:
val = len(df[df.BailType=='Unsecured'])/len(df) 

print(f"Share of Unsecured cases : {val}")
print(f"Number of Unsecured cases : {len(df[df.BailType=='Unsecured'])}")
print(f"Total Number of cases : {len(df)}")

Share of Unsecured cases : 0.2929335253143181
Number of Unsecured cases : 115354
Total Number of cases : 393789

### County

In [38]:
totalCases = df.groupby('county')['OTN'].count().reset_index()
totalCases.columns = ['county','total_cases']


unsecuredCases = df[df.BailType=='Unsecured'].groupby('county')['OTN'].count().reset_index()
unsecuredCases.columns = ['county','unsecured_cases']


outDf = pd.merge(totalCases, unsecuredCases, on = 'county', how='left')
outDf

          county  total_cases  unsecured_cases
0          Adams         2597              790
1      Allegheny        32286              894
2      Armstrong         1851              229
3         Beaver         6275              794
4        Bedford         1496              891
..           ...          ...              ...
62    Washington         6829             2335
63         Wayne          801              226
64  Westmoreland        12577             3859
65       Wyoming         1079              689
66          York        16800             2644

[67 rows x 3 columns]

### MDJ

In [40]:
totalCases = df.groupby('BailActionAuthority')['OTN'].count().reset_index()
totalCases.columns = ['BailActionAuthority','total_cases']


unsecuredCases = df[df.BailType=='Unsecured'].groupby('BailActionAuthority')['OTN'].count().reset_index()
unsecuredCases.columns = ['BailActionAuthority','unsecured_cases']


outDf = pd.merge(totalCases, unsecuredCases, on = 'BailActionAuthority', how='left')
outDf

     BailActionAuthority  total_cases  unsecured_cases
0       Abate, Frank Jr.            4              NaN
1      Abraham, Randy S.           18             12.0
2      Adams, H. Anthony          814            125.0
3       Adams, Joseph C.            2              NaN
4       Aigner, Paula M.          892            422.0
...                  ...          ...              ...
1206        Zucco, Linda          249              NaN
1207   Zulick, Arthur L.           14              9.0
1208    Zungali, Michael          490            155.0
1209      Zupsic, Joseph            1              NaN
1210       Zyra, Gary M.          173              NaN

[1211 rows x 3 columns]

## Nonmonetary

### State

In [42]:
val = len(df[df.BailType=='Nonmonetary'])/len(df) 

print(f"Share of Nonmonetary cases : {val}")
print(f"Number of Nonmonetary cases : {len(df[df.BailType=='Nonmonetary'])}")
print(f"Total Number of cases : {len(df)}")

Share of Nonmonetary cases : 0.04791652382367207
Number of Nonmonetary cases : 18869
Total Number of cases : 393789

### County

In [43]:
totalCases = df.groupby('county')['OTN'].count().reset_index()
totalCases.columns = ['county','total_cases']


unsecuredCases = df[df.BailType=='Nonmonetary'].groupby('county')['OTN'].count().reset_index()
unsecuredCases.columns = ['county','nonmonetary_cases']


outDf = pd.merge(totalCases, unsecuredCases, on = 'county', how='left')
outDf

          county  total_cases  nonmonetary_cases
0          Adams         2597              372.0
1      Allegheny        32286             7683.0
2      Armstrong         1851               61.0
3         Beaver         6275              115.0
4        Bedford         1496                NaN
..           ...          ...                ...
62    Washington         6829               65.0
63         Wayne          801                NaN
64  Westmoreland        12577              586.0
65       Wyoming         1079                1.0
66          York        16800              959.0

[67 rows x 3 columns]

### MDJ

In [44]:
totalCases = df.groupby('BailActionAuthority')['OTN'].count().reset_index()
totalCases.columns = ['BailActionAuthority','total_cases']


unsecuredCases = df[df.BailType=='Nonmonetary'].groupby('BailActionAuthority')['OTN'].count().reset_index()
unsecuredCases.columns = ['BailActionAuthority','nonmonetary_cases']


outDf = pd.merge(totalCases, unsecuredCases, on = 'BailActionAuthority', how='left')
outDf

     BailActionAuthority  total_cases  nonmonetary_cases
0       Abate, Frank Jr.            4                NaN
1      Abraham, Randy S.           18                NaN
2      Adams, H. Anthony          814                NaN
3       Adams, Joseph C.            2                NaN
4       Aigner, Paula M.          892                NaN
...                  ...          ...                ...
1206        Zucco, Linda          249               75.0
1207   Zulick, Arthur L.           14                NaN
1208    Zungali, Michael          490                NaN
1209      Zupsic, Joseph            1                NaN
1210       Zyra, Gary M.          173               65.0

[1211 rows x 3 columns]

## Mean Bail Amount

### State

In [51]:
out  = df[df.BailType.isin(['Monetary','Nominal','Nonmonetary','Unsecured','ROR'])].groupby('BailType').agg({'BailActionAmount':'mean','OTN':'count'}).reset_index()
out.columns = ['BailType','meanBailAmount','numCases']
out

      BailType  meanBailAmount  numCases
0     Monetary    47254.570275    167740
1      Nominal     2903.742963       513
2  Nonmonetary        0.000000     18869
3          ROR        0.000034     89529
4    Unsecured     8316.749841    115354

#### After removing outliers (99th percentile)

In [76]:
bailTypes = ['Monetary','Nominal','Unsecured']

for i in range(len(bailTypes)):
    sub = df[df.BailType==bailTypes[i]]
    
    percentValue = np.quantile(sub.BailActionAmount,0.99)
    
    meanBailAmount = np.mean(sub[sub.BailActionAmount<=percentValue]['BailActionAmount'])
    
    print(f"{bailTypes[i]:10} : {meanBailAmount}")

Monetary   : 35949.67122303108
Nominal    : 817.7912031558186
Unsecured  : 7289.618016347391

### County

In [67]:
out  = df[df.BailType.isin(['Monetary','Nominal','Nonmonetary','Unsecured','ROR'])].groupby(['county','BailType']).agg({'BailActionAmount':'mean','OTN':'count'}).reset_index()
out.columns = ['county','BailType','meanBailAmount','numCases']
out

        county     BailType  meanBailAmount  numCases
0        Adams     Monetary    34094.387755       784
1        Adams  Nonmonetary        0.000000       372
2        Adams          ROR        0.000000       646
3        Adams    Unsecured     6116.455696       790
4    Allegheny     Monetary    21868.048799     14047
..         ...          ...             ...       ...
277       York     Monetary    28995.485566      7438
278       York      Nominal     2690.586207        58
279       York  Nonmonetary        0.000000       959
280       York          ROR        0.000000      5596
281       York    Unsecured     9696.898638      2644

[282 rows x 4 columns]

#### After removing outliers (99th percentile)

In [75]:
countyList = list(df.county.unique())

bailTypes = ['Monetary','Nominal','Unsecured']


for j in range(len(countyList)):
    for i in range(len(bailTypes)):
        sub = df[(df.county == countyList[j]) & (df.BailType==bailTypes[i])]
        
        if len(sub)==0:
            continue

        percentValue = np.quantile(sub.BailActionAmount,0.99)

        meanBailAmount = np.mean(sub[sub.BailActionAmount<=percentValue]['BailActionAmount'])

        print(f"{countyList[j]:15} {bailTypes[i]:10} : {meanBailAmount}")

Potter          Monetary   : 22323.943661971833
Potter          Unsecured  : 7808.781869688385
Cumberland      Monetary   : 28436.02593440122
Cumberland      Nominal    : 1.0
Cumberland      Unsecured  : 6468.6579150579155
Pike            Monetary   : 28077.22900763359
Pike            Nominal    : 10000.0
Pike            Unsecured  : 9409.23076923077
Forest          Monetary   : 27210.526315789473
Forest          Unsecured  : 18255.81395348837
Wayne           Monetary   : 34180.0
Wayne           Unsecured  : 8535.714285714286
Fulton          Monetary   : 54747.899159663866
Fulton          Unsecured  : 32983.87096774193
Lackawanna      Monetary   : 31853.256777812403
Lackawanna      Nominal    : 1357.07
Lackawanna      Unsecured  : 10281.341390814558
Dauphin         Monetary   : 40805.15511771581
Dauphin         Nominal    : 9.285714285714286
Dauphin         Unsecured  : 7140.254872563718
Huntingdon      Monetary   : 20545.026642984016
Huntingdon      Unsecured  : 8332.55269320843
Somerset        Monetary   : 39843.75
Somerset        Nominal    : 1.0
Somerset        Unsecured  : 18298.728813559323
Cameron         Monetary   : 26833.333333333332
Cameron         Unsecured  : 6801.801801801802
Montgomery      Monetary   : 31632.47175047647
Montgomery      Nominal    : 1.0
Montgomery      Unsecured  : 5806.949727825809
Tioga           Monetary   : 20683.63740022805
Tioga           Unsecured  : 5188.085106382979
Washington      Monetary   : 25195.231382978724
Washington      Nominal    : 1.0
Washington      Unsecured  : 5445.488802756245
Bedford         Monetary   : 51751.30890052356
Bedford         Unsecured  : 8697.845804988661
Susquehanna     Monetary   : 27633.12302839117
Susquehanna     Unsecured  : 3532.375478927203
Erie            Monetary   : 30685.46792587313
Erie            Unsecured  : 6346.612396694215
Bucks           Monetary   : 69455.05168269231
Bucks           Nominal    : 1.0
Bucks           Unsecured  : 10491.35046113307
Carbon          Monetary   : 26807.524575513853
Carbon          Unsecured  : 5168.004880694143
Bradford        Monetary   : 33744.44922341697
Bradford        Unsecured  : 8753.92578125
Fayette         Monetary   : 21350.12091898428
Fayette         Unsecured  : 7623.109656301146
Jefferson       Monetary   : 51856.98924731183
Jefferson       Unsecured  : 9962.686567164179
Schuylkill      Monetary   : 22797.632575757576
Schuylkill      Nominal    : 1.0
Schuylkill      Unsecured  : 7519.19750951228
Northumberland  Monetary   : 43954.100346020765
Northumberland  Nominal    : 1.0
Northumberland  Unsecured  : 7321.285140562249
Monroe          Monetary   : 27444.43916449086
Monroe          Nominal    : 1.0
Monroe          Unsecured  : 5730.650154798762
Lawrence        Monetary   : 21700.91514143095
Lawrence        Nominal    : 1500.0
Lawrence        Unsecured  : 10927.272727272728
Delaware        Monetary   : 42946.4385449387
Delaware        Nominal    : 29.83478260869565
Delaware        Unsecured  : 13046.314160433325
Indiana         Monetary   : 16626.934984520125
Indiana         Unsecured  : 3991.935483870968
Mercer          Monetary   : 26800.418410041842
Mercer          Unsecured  : 9421.435562805873
Cambria         Monetary   : 37015.83775953646
Cambria         Unsecured  : 10540.189873417721
Mifflin         Monetary   : 39841.994421199444
Mifflin         Nominal    : 25000.0
Mifflin         Unsecured  : 3774.637450199203
Columbia        Monetary   : 39322.57396449704
Columbia        Unsecured  : 7230.254350736279
Blair           Monetary   : 33185.01483679525
Blair           Unsecured  : 9525.957120980092
Lehigh          Monetary   : 20369.126161644606
Lehigh          Nominal    : 1.0
Lehigh          Unsecured  : 5011.135146621335
Elk             Monetary   : 27174.468085106382
Elk             Unsecured  : 4298.728813559322
Allegheny       Monetary   : 19263.86463944895
Allegheny       Nominal    : 1.0
Allegheny       Unsecured  : 9462.71186440678
Centre          Monetary   : 45856.85591397849
Centre          Unsecured  : 23799.072261072262
Beaver          Monetary   : 19343.883180628272
Beaver          Nominal    : 1.0
Beaver          Unsecured  : 5011.216730038022
Northampton     Monetary   : 27792.99896076903
Northampton     Nominal    : 1.0
Northampton     Unsecured  : 5359.364873622812
McKean          Monetary   : 24432.539682539682
McKean          Unsecured  : 3967.4679487179487
Adams           Monetary   : 30704.225352112677
Adams           Unsecured  : 5758.576874205845
Wyoming         Monetary   : 28056.575520833332
Wyoming         Unsecured  : 7856.622998544396
Chester         Monetary   : 30195.497880827723
Chester         Nominal    : 1.0
Chester         Unsecured  : 8514.96679316888
Venango         Monetary   : 40401.69491525424
Venango         Unsecured  : 6045.305907172996
Franklin        Monetary   : 60055.27354765934
Franklin        Nominal    : 5000.5
Franklin        Unsecured  : 20407.942238267147
Butler          Monetary   : 18441.938291139242
Butler          Nominal    : 1.0
Butler          Unsecured  : 9325.242718446601
Greene          Monetary   : 17737.82978723404
Greene          Nominal    : 50000.0
Greene          Unsecured  : 4928.807947019867
Montour         Monetary   : 39636.05930693069
Montour         Unsecured  : 12928.585714285715
Union           Monetary   : 31010.36269430052
Union           Unsecured  : 13521.978021978022
Lancaster       Monetary   : 59192.745105215006
Lancaster       Nominal    : 13950.5
Lancaster       Unsecured  : 8717.082609958507
Westmoreland    Monetary   : 21518.735407388664
Westmoreland    Unsecured  : 6434.901093180635
Perry           Monetary   : 27270.032154340835
Perry           Nominal    : 1925.6363636363637
Perry           Unsecured  : 10323.321554770318
Lycoming        Monetary   : 57064.70963624761
Lycoming        Unsecured  : 5278.541953232462
Philadelphia    Monetary   : 54184.56377904293
Philadelphia    Nominal    : 1.0
Philadelphia    Unsecured  : 4437.136929460581
Clarion         Monetary   : 21939.59595959596
Clarion         Unsecured  : 5021.384976525822
Clearfield      Monetary   : 27077.8231292517
Clearfield      Unsecured  : 5968.290796597061
Berks           Monetary   : 31744.74570223808
Berks           Nominal    : 5005.0
Berks           Unsecured  : 7403.577268195414
Warren          Monetary   : 29426.6862170088
Warren          Unsecured  : 19734.126984126986
Sullivan        Monetary   : 16973.684210526317
Sullivan        Unsecured  : 9115.384615384615
Clinton         Monetary   : 23683.874866920156
Clinton         Nominal    : 1.0
Clinton         Unsecured  : 5790.549180327869
Crawford        Monetary   : 24982.37885462555
Crawford        Unsecured  : 9178.217821782178
Snyder          Monetary   : 29777.894736842107
Snyder          Nominal    : 25000.0
Snyder          Unsecured  : 5979.057591623036
York            Monetary   : 23403.72323693143
York            Nominal    : 1422.0
York            Unsecured  : 8787.17067583047
Armstrong       Monetary   : 14903.293807641634
Armstrong       Unsecured  : 4953.539823008849
Lebanon         Monetary   : 27678.02137767221
Lebanon         Nominal    : 1.0
Lebanon         Unsecured  : 3376.1819367460057
Juniata         Monetary   : 26453.757225433525
Juniata         Unsecured  : 5711.734693877551
Luzerne         Monetary   : 37043.958350279616
Luzerne         Nominal    : 10000.0
Luzerne         Unsecured  : 7387.58887171561

## % of MDJs who use cash bail more than any other bail type

In [102]:
out = df.groupby(['BailActionAuthority','BailType'])['OTN'].count().reset_index()
out = out.pivot(index='BailActionAuthority', columns='BailType', values='OTN').reset_index()
out

BailType,BailActionAuthority,Migrated Bail Type,Monetary,Monetary - Cash Percentage,Nominal,Nonmonetary,ROR,ROR - Common Pleas,Unsecured
0,"Abate, Frank Jr.",NaN,1.0,NaN,NaN,NaN,3.0,NaN,NaN
1,"Abraham, Randy S.",NaN,6.0,NaN,NaN,NaN,NaN,NaN,12.0
2,"Adams, H. Anthony",NaN,206.0,NaN,NaN,NaN,482.0,NaN,125.0
3,"Adams, Joseph C.",NaN,1.0,NaN,NaN,NaN,1.0,NaN,NaN
4,"Aigner, Paula M.",NaN,470.0,NaN,NaN,NaN,NaN,NaN,422.0
...,...,...,...,...,...,...,...,...,...
1205,"Zucco, Linda",NaN,74.0,NaN,NaN,75.0,99.0,NaN,NaN
1206,"Zulick, Arthur L.",NaN,5.0,NaN,NaN,NaN,NaN,NaN,9.0
1207,"Zungali, Michael",NaN,173.0,NaN,NaN,NaN,161.0,NaN,155.0
1208,"Zupsic, Joseph",NaN,NaN,NaN,NaN,NaN,1.0,NaN,NaN
1209,"Zyra, Gary M.",NaN,85.0,NaN,NaN,65.0,23.0,NaN,NaN

In [103]:
out['mostCommonBailType'] = out[out.columns[1:]].apply(lambda x : np.argmax(x), axis = 1)

In [104]:
out.head()

BailType,BailActionAuthority,Migrated Bail Type,Monetary,Monetary - Cash Percentage,Nominal,Nonmonetary,ROR,ROR - Common Pleas,Unsecured,mostCommonBailType
0,"Abate, Frank Jr.",NaN,1.0,NaN,NaN,NaN,3.0,NaN,NaN,ROR
1,"Abraham, Randy S.",NaN,6.0,NaN,NaN,NaN,NaN,NaN,12.0,Unsecured
2,"Adams, H. Anthony",NaN,206.0,NaN,NaN,NaN,482.0,NaN,125.0,ROR
3,"Adams, Joseph C.",NaN,1.0,NaN,NaN,NaN,1.0,NaN,NaN,Monetary
4,"Aigner, Paula M.",NaN,470.0,NaN,NaN,NaN,NaN,NaN,422.0,Monetary

In [108]:
### Most common bail types for a given judge

# For 38.18% of all MDJs, Unsecured is the most common type of bail that they assign
# For 37.85% of all MDJs, Monetary is the most common type of bail that they assign

out.mostCommonBailType.value_counts()/len(out)

Unsecured                     0.381818
Monetary                      0.378512
ROR                           0.189256
Nonmonetary                   0.030579
ROR - Common Pleas            0.008264
Nominal                       0.006612
Monetary - Cash Percentage    0.004132
Migrated Bail Type            0.000826
Name: mostCommonBailType, dtype: float64

## Bail Posting Rate

### State

In [112]:
### Overall Bail posting status
df.BailPostingStatus.value_counts(dropna=False)

NaN                257854
Posted             132838
Partial Posting      1659
Modified             1438
Name: BailPostingStatus, dtype: int64

In [113]:
### Bail Posting status for cash bail (monetary) cases
df[df.BailType == 'Monetary'].BailPostingStatus.value_counts(dropna=False)

NaN                98164
Posted             67952
Partial Posting     1367
Modified             258
Name: BailPostingStatus, dtype: int64

### County

In [126]:
### County wise Bail posting status
sub = df.copy()

# 'blank' represents cases where there was no record for BailPostingStatus
sub.BailPostingStatus.fillna('blank',inplace = True)

out = sub.groupby(['county','BailPostingStatus']).OTN.count().reset_index()
out.columns = ['county','BailStatus','numCases']
out

        county       BailStatus  numCases
0        Adams         Modified         5
1        Adams  Partial Posting         1
2        Adams           Posted      2169
3        Adams            blank       422
4    Allegheny         Modified        10
..         ...              ...       ...
210    Wyoming            blank       948
211       York         Modified         4
212       York  Partial Posting        13
213       York           Posted      4131
214       York            blank     12652

[215 rows x 3 columns]

# Charges

In [137]:
### Most common crimes associated with cash bail
out = df[df.BailType=='Monetary']['Description'].value_counts().reset_index()
out.columns = ['Description','numCases']
out.head(10)

                                         Description  numCases
0  Manufacture, Delivery, or Possession With Inte...     26495
1                          Receiving Stolen Property     13545
2                                 Aggravated Assault     13128
3                                     Simple Assault     11295
4                Int Poss Contr Subst By Per Not Reg      8866
5                             Retail Theft-Take Mdse      8417
6    Terroristic Threats W/ Int To Terrorize Another      5325
7             Firearms Not To Be Carried W/O License      4042
8                 Theft By Unlaw Taking-Movable Prop      3129
9                            Use/Poss Of Drug Paraph      2728

In [136]:
### Share of monetary cases for these top crimes. What percentage of these crimes are set monetary bail


for i in range(10):
    crime = out.Description.iloc[i]
    cashCases = out.numCases.iloc[i]
    
    totalCases = len(df[df.Description==crime])
    
    print(f"{crime} : {cashCases/totalCases}")

Manufacture, Delivery, or Possession With Intent to Manufacture or Deliver : 0.7909899689515166
Receiving Stolen Property : 0.4678433268858801
Aggravated Assault : 0.8554114810712191
Simple Assault : 0.5296600234466589
Int Poss Contr Subst By Per Not Reg : 0.30236682354546074
Retail Theft-Take Mdse : 0.38571166712491983
Terroristic Threats W/ Int To Terrorize Another : 0.6659579789894947
Firearms Not To Be Carried W/O License : 0.9002227171492205
Theft By Unlaw Taking-Movable Prop : 0.41350601295097134
Use/Poss Of Drug Paraph : 0.2896273489754751

# Cash Bail and Race

In [138]:
### Function to retreive cash bail rate
def getCashBailRate(x):
    
    cash = len(x[x.BailType == 'Monetary'])
    
    return cash/len(x)

## Cash bail rate for Black v. white defendants

### State

In [139]:
white = df[df.DefendantRace=='White']
black = df[df.DefendantRace=='Black']

whiteCashRate = getCashBailRate(white)
blackCashRate = getCashBailRate(black)

print(f"Cash Bail Rates | White : {whiteCashRate}  Black : {blackCashRate}")

Cash Bail Rates | White : 0.3787542235602311  Black : 0.5474625249906149

### County

In [172]:
print("{:15} {:<12} {:<11} {:<11} {:<10}".format('county','whiteRate','blackRate','whiteCases','blackCases'))
for i in range(len(countyList)):
    
    whiteRate = np.round(getCashBailRate(white[white.county==countyList[i]]),3)
    blackRate = np.round(getCashBailRate(black[black.county==countyList[i]]),3)
    
    whiteCases = len(white[white.county==countyList[i]])
    blackCases = len(black[black.county==countyList[i]])
    
    
    print(f"{countyList[i]:15} {whiteRate :<10}   {blackRate:<10}  {whiteCases:<10}  {blackCases:<10}")

county          whiteRate    blackRate   whiteCases  blackCases
Potter          0.232        0.75        585         8
Cumberland      0.35         0.516       5310        1422
Pike            0.34         0.374       970         139
Forest          0.32         0.85        103         20
Wayne           0.353        0.649       742         37
Fulton          0.293        0.316       345         38
Lackawanna      0.49         0.671       4572        1211
Dauphin         0.365        0.512       7505        6080
Huntingdon      0.378        0.641       1200        153
Somerset        0.232        0.696       1870        92
Cameron         0.255        1.0         110         2
Montgomery      0.287        0.433       12367       7335
Tioga           0.345        0.57        2185        200
Washington      0.358        0.558       5480        1135
Bedford         0.376        0.526       1363        97
Susquehanna     0.398        0.667       762         21
Erie            0.37         0.637       4494        1704
Bucks           0.306        0.411       12229       2956
Carbon          0.323        0.438       3058        249
Bradford        0.451        0.623       1752        53
Fayette         0.423        0.54        4546        1000
Jefferson       0.384        0.73        1129        37
Schuylkill      0.373        0.465       5116        415
Northumberland  0.339        0.568       2194        220
Monroe          0.324        0.351       4143        1614
Lawrence        0.435        0.663       1787        611
Delaware        0.485        0.638       7875        8933
Indiana         0.362        0.304       718         204
Mercer          0.334        0.454       3505        1066
Cambria         0.391        0.655       3653        960
Mifflin         0.475        0.701       1390        87
Columbia        0.385        0.408       1521        201
Blair           0.318        0.587       4303        523
Lehigh          0.529        0.618       8883        2962
Elk             0.287        0.278       781         18
Allegheny       0.353        0.571       19383       12340
Centre          0.219        0.467       2833        537
Beaver          0.439        0.643       4212        1755
Northampton     0.439        0.557       6613        1621
McKean          0.412        0.613       1072        75
Adams           0.29         0.436       2273        264
Wyoming         0.356        0.4         1031        25
Chester         0.343        0.485       7403        2948
Venango         0.356        0.601       1406        143
Franklin        0.352        0.493       3796        885
Butler          0.295        0.448       1816        201
Greene          0.379        0.59        795         39
Montour         0.353        0.462       249         26
Union           0.232        0.382       654         89
Lancaster       0.431        0.555       9804        2173
Westmoreland    0.286        0.501       9952        1982
Perry           0.277        0.4         979         85
Lycoming        0.281        0.55        3368        1107
Philadelphia    0.433        0.56        26139       37041
Clarion         0.408        0.406       1129        64
Clearfield      0.356        0.593       1916        86
Berks           0.502        0.584       9687        2001
Warren          0.4          0.7         811         20
Sullivan        0.326        0.625       95          8
Clinton         0.36         0.471       1281        140
Crawford        0.283        0.533       738         30
Snyder          0.346        0.525       980         80
York            0.411        0.541       12267       4272
Armstrong       0.395        0.627       1690        118
Lebanon         0.38         0.488       4766        563
Juniata         0.367        0.438       439         16
Luzerne         0.347        0.536       7944        2006

### MDJ

In [176]:
mdjList = list(df.BailActionAuthority.unique())

print("{:30} {:<12} {:<11} {:<11} {:<10}".format('MDJ','whiteRate','blackRate','whiteCases','blackCases'))
for i in range(len(mdjList)):
    
    whiteCases = len(white[white.BailActionAuthority==mdjList[i]])
    blackCases = len(black[black.BailActionAuthority==mdjList[i]])
    
    
    if whiteCases == 0:
        whiteRate = 0
    else:
        whiteRate = np.round(getCashBailRate(white[white.BailActionAuthority==mdjList[i]]),3)
        
    if blackCases == 0:
        blackRate = 0
    else:
        blackRate = np.round(getCashBailRate(black[black.BailActionAuthority==mdjList[i]]),3)
    
    
    
    print(f"{mdjList[i]:30} {whiteRate :<10}   {blackRate:<10}  {whiteCases:<10}  {blackCases:<10}")

MDJ                            whiteRate    blackRate   whiteCases  blackCases
Leete, John B.                 0.5          0           2           0
Easton, Barbara J.             0            0           0           0
Easton, Annette L.             0.186        1.0         231         4
Stubbs, Kari A.                0.0          0           1           0
Weiss, Delores G.              0.247        0           182         0
McCleaft, Kari A.              0.275        0.5         160         4
                           nan 0            0           0           0
Minor, Stephen PB              0.375        0           8           0
Clement, Charles A.            0.38         0.593       498         150
Day, Susan K.                  0.387        0.509       493         114
Martin, Mark W.                0.317        0.5         565         122
Manlove, Robert V.             1.0          1.0         1           1
Dougherty, Richard S. Jr.      0.358        0.553       419         123
Correal, Paula P.              0.409        0.585       88          41
Fegley, Paul M.                0.38         0.496       432         123
Cohick, Vivian J.              0.353        0.64        448         86
Adams, H. Anthony              0.236        0.335       644         158
Masland, Albert H.             0.074        0.143       54          28
Peck, Christylee L.            0.238        0.067       42          15
Beckley, Elizabeth S.          0.472        0.639       458         147
Brewbaker, Jessica E.          0.228        0.176       57          17
Silcox, Kathryn H.             0.408        0.702       547         114
Guido, Edward E.               0.135        0.182       37          11
Ebert, M. L. Jr.               0.149        0.077       47          26
Placey, Thomas A.              0.085        0.091       47          22
Laird, Scott                   0.367        0.629       556         167
Zepp, John C.                  0.1          0.8         10          5
Bria, Margaret                 0.394        0.438       33          16
Weidner, Clinton R.            0.0          0           1           0
Abate, Frank Jr.               0.333        0.0         3           1
Stephens, Craig C.             0.322        0.692       326         201
Hess, Kevin A.                 0.0          0.0         1           1
Birbeck, Jonathan R.           0.373        0.605       410         119
Manning, Jeffrey A.            0.071        0.135       378         223
Albright, Keith L.             0.403        0.445       603         182
Oler, J. Wesley Jr.            0.0          0           2           0
Semic, Steven M.               0.841        0.859       403         446
Ravenstahl, Robert P. Jr.      0.321        0.383       268         248
Fischer, Deborah               0.395        0.452       253         31
McBride, Stephen A.            0.0          0           1           0
Muir, Shannon L.               0.32         0.424       303         33
Menditto, Paul D. Sr.          0.337        0.205       163         39
Kameen, Joseph F.              0.5          0.667       4           3
Chelak, Gregory H.             0.449        0.375       78          16
Cooper, Alan B.                0.243        0.364       169         22
Migrated, Judge                0.431        0.514       51          35
Miller, Linda Wallach          0.0          0           2           0
Miller, Daniel L.              0.426        0.812       129         16
Woodin, Todd A.                0.321        0.667       252         9
Hammond, Gregory J.            1.0          1.0         4           1
Bauer, Laura                   0.355        0.714       211         7
Carlson, Glenn S.              0.449        0.857       316         7
Mikulak, Theodore J.           1.0          0           3           0
Edwards, Ronald                0.382        0.5         199         8
Hamill, Raymond L.             0.091        0           11          0
Carney, Bonnie L.              0.368        0.615       250         13
Myers, Linus H.                0.323        0.75        279         16
E-Filing Judge                 0.465        0.653       2077        2798
Out of County Judge            0.0          0.5         2           2
Horne, Devin C.                0.351        0.333       77          9
Mellott, Wendy                 0.244        0.25        168         16
Heming, Tamela M.              0.32         0.333       100         12
Zook, Jeremiah D               0            0           0           0
Krom, Angela R.                0.425        0.167       40          12
Giglio, Theodore J.            0.649        0.825       436         137
Gallagher, Terrence V.         0.329        0.623       507         114
Mercuri, John J.               0.0          1.0         3           1
Corbett, Joanne Price          0.541        0.754       488         118
Mcgraw, Sean P.                0.607        0.739       61          23
Turlip-Murphy, Laura           0.419        0.63        592         138
McGraw, Sean P.                0.505        0.756       475         127
Ware, Paul J.                  0.541        0.598       466         127
Farrell, Alyce Hailstone       0.502        0.504       474         123
Keeler, Paul                   0.469        0.699       508         153
Keller, Joshua R.              0.444        0.395       322         86
Pesota, John P.                0.506        0.662       500         142
Trexler, Daniel C.             0.576        0.73        516         141
Geroulo, Vito P.               0.286        0.0         21          2
Gibbons, James A.              0            1.0         0           1
Corbett, Trish                 0.0          0           1           0
Wagner, Robert L. Jr.          0            0           0           0
Barrasse, Michael J.           0.333        0           15          0
Gallagher, James               0.271        0.421       306         190
Munley, Thomas J.              0.0          0           1           0
Plummer, David K               1.0          0           1           0
Kelly, John J. Jr.             0.307        0.381       541         176
Kelly Rebar, Cathleen          0.32         0.519       556         181
Weller, Jay                    0.261        0.449       825         158
Moyle, Margaret Bisignani      0.5          0.0         4           3
Munley, Julia K.               1.0          0           1           0
McGrath, Scott                 0.417        0.698       288         86
Turner, Phillip S.             0.593        0.634       391         320
Jarbola, Andrew J.             0.5          0           2           0
Turk, Amy Long                 1.0          0           1           0
Seig, George E.                1.0          0           1           0
Gadzicki, Walter F. Jr.        0.236        0.481       675         258
McHugh Casey, Elizabeth        0.0          0           1           0
Ward, Ethan T.                 0.456        0.692       371         65
Zozos, George A.               0.648        0.682       213         359
Lindsey, Joseph S.             0.267        0.436       439         362
Lewis, Richard A.              0.239        0.191       46          68
Smith, Michael J.              0.282        0.379       1011        707
Wenner, William C.             0.376        0.483       511         300
Lenker, Kenneth A.             0.354        0.456       376         344
Solomon, Joseph S.             1.0          0           1           0
Jennings, Robert III           0.667        0.455       3           11
Pelino, Dominic                0.183        0.459       705         222
Stewart, Marsha C.             0.538        0.556       13          18
Turgeon, Jeannine              0.379        0.25        29          32
Lenker, James A.               0.422        0.436       519         585
Coates, Bernard L. Jr.         0.0          0.0         1           1
Pianka, Barbara                0.536        0.63        261         422
Witmer, Lowell A.              0.393        0.655       410         194
Postelle, Lavon A.             0.0          0.625       1           8
Curcillo, Deborah E.           0.241        0.382       54          55
Margerum, Rebecca J.           0.274        0.564       430         117
Dowling, Andrew H.             0.086        0.162       35          37
Judy, David H.                 0.313        0.557       527         244
Johnson, Gregory D.            0.231        0.603       515         141
Shugars, Raymond F.            0.886        0.917       140         206
Hoover, Todd A.                0.0          0.0         4           5
Evans, Scott A.                0.107        0.205       56          39
Cherry, John F.                0.194        0.25        36          52
Tully, William T.              0.132        0.125       38          64
Teyral, Joann L.               0.203        0.189       79          74
McKnight, Sonya M.             0.436        0.39        225         397
Zozos, Paul T.                 0.457        0.544       265         333
Bratton, Bruce F.              0.111        0.2         9           5
Johnson, Carol J.              1.0          0           1           0
Clark, Lawrence F. Jr.         0.917        0.909       12          11
Simms, Richard H.              0.0          1.0         1           1
O'Leary, David                 0.385        0.413       169         196
Serratelli, Lori K.            0.2          0.097       25          31
Herman, Douglas W.             0            0.333       0           3
Patton, Dean R.                0.432        0.574       687         129
Woelfel, Harold F. Jr.         0.25         0.0         4           1
Davis, Daniel S.               0.0          0           1           0
Colyer, Michael M.             0.5          0           2           0
Gummo, Douglas L.              0.274        0.378       387         37
Wilt, Richard                  0.391        0.774       440         84
Jamison, Mary                  0.429        0.607       324         28
Zanic, George N.               0.619        0.0         21          1
Kurtz, Stewart L.              1.0          0           1           0
Vacant MDJ-20-3-04             0.917        0.667       24          3
Stevanus, Sandra L.            0.343        0.75        230         28
Bell, Douglas McCall           0.198        0.5         252         2
Seger, William E.              0.241        0.667       270         6
Geary, D Gregory               0.218        0.5         101         2
Johnson, Kenneth W.            0.206        0.641       675         39
Mankamyer, Susan               0.234        0.8         337         15
Cascio, John M.                0.4          0           5           0
Fike, Eugene E. II             0.0          0           3           0
Auker, Jeffrey P.              0.283        0.372       755         86
Cannoni, Joseph A.             0.316        0.75        19          4
Brown, Barry D.                0.376        0.667       141         3
Martin, James L.               0.27         0.4         326         5
Tressler, Paul W.              0            0.25        0           4
O'Neill, Steven T.             0.4          0.0         5           4
Nicholas, William T.           0.062        0.07        129         86
Furber, William J. Jr.         0.0          0.0         3           1
Hodgson, Richard J.            0.0          0           1           0
Moore, Bernard A.              1.0          0           1           0
Keightly, David A.             0.0          0           2           0
Price, Juanita Ann             0.288        0.448       385         326
Casillo, Ester J.              0.304        0.428       369         222
Crahalla, Benjamin R.          0.0          0           1           0
Friedenberg, Jay S.            0.198        0.355       595         231
Skerchock, Dorothy             0.0          0           1           0
Schireson, Henry J.            0.207        0.392       285         181
Leo, Paul N.                   0.263        0.451       369         162
Householder, William R. Jr.    1.0          0           1           0
Lawrence, Francis J. Jr.       0.54         0.652       235         267
Palladino, Thomas A.           0            0.0         0           1
Maruszczak, William I.         0.239        0.298       385         325
McHugh Casey, Elizabeth A.     0.391        0.444       202         187
Bernhardt, Francis J. III      0.317        0.435       486         310
Borek, Harold D.               0.2          0.667       15          9
Deatelhauser, Kenneth E.       0.274        0.472       208         36
Durkin, John J.                0.431        0.525       160         40
Saylor, Maurice H.             0.302        0.59        494         117
Hunsicker, Margaret A.         0.388        0.506       281         362
Lukens, Deborah                0.315        0.425       216         146
Corso, S. Gerald               0.087        0.054       218         149
Eisner-Zucker, Karen C.        0.191        0.305       47          59
Cerski, Christopher            0.454        0.445       152         227
Wall, Kelly C.                 0.5          0           2           0
Rebar, Cathleen Kelly          0.322        0.486       115         35
Dougherty, Joseph H.           1.0          0           1           0
Zaffarano, Patricia Ann        0.282        0.477       312         193
Kessler, John D.               0.198        0.264       343         258
Carpenter, William R.          0.5          0.2         6           5
Hudak Duffy, Andrea            0.258        0.369       662         222
Valentine, Kathleen McDonnell  0.125        0.4         8           10
Kropp, Edward C. Sr.           0.376        0.506       606         468
Hummel Fried, Catherine M.     0.215        0.519       456         104
Palladino, Scott T.            0.398        0.607       517         338
Albright, Kent H.              0.0          0.0         1           1
Augustine, Albert J.           0.29         0.628       555         164
Eisner Zucker, Karen           0.229        0.317       170         246
Nesbitt, Harry J. III          0.33         0.467       230         105
Sobeck, Robert M.              0.311        0.521       383         169
Page, Garrett D.               0.167        0.333       12          6
Murray, John S. III            0.208        0.455       53          11
Demchick-Alloy, Wendy          0.333        0.333       3           3
McGill, Katherine E.           0.283        0.385       219         156
Rogers, Thomas P.              0.167        0.0         6           4
Silow, Gary S.                 0.077        0.0         13          9
Braxton, John L.               0.0          0.0         1           2
Branca, Thomas C.              0.0          0.0         2           1
Levine, Edward                 0.222        0.405       609         173
Drayer, Calvin S. Jr.          0.0          0.25        5           4
Tolliver, Steven C.            0.0          0           1           0
Quinn, Michael P.              0.294        0.323       197         164
Scott, Gregory L.              0.662        0.535       234         303
Smyth, Joseph A.               0.057        0.154       141         91
Tartaglio, Thomas W.           0.357        0.5         389         106
Johnson, Kenneth W             0.0          0           1           0
Eisenberg, Todd                0.0          0.0         4           6
Weilheimer, Gail A.            0.083        0.143       12          14
Brown, Leonard G. III          0            0.0         0           1
Roth, Robert                   0.277        0.375       379         32
Smith, Charles B.              0.333        0.273       57          11
Barrett, R. Stephen            0.0          0           1           0
Transfer Judge                 0            0.0         0           4
DelRicci, Thomas M.            0.0          0.0         1           1
Hartman, Michael G.            0.321        0.421       448         38
Hadzick, Paul J.               0.827        0.863       1003        248
Carluccio, Carolyn T.          0.0          0           2           0
Walsh, Joseph P.               0.0          0           1           0
Tilson, Arthur R.              0.081        0.065       37          31
Book, Andrea                   0.452        0.75        42          4
Coonahan, Patricia E.          1.0          0           1           0
Berks County Central Arraignment Court MDJ-23-0-01 0.667        0           3           0
Lewis, Edward M.               0.186        0.444       199         18
Daly, Philip J.                0.244        0.294       164         34
Wilt, Richard S.               0            1.0         0           1
Bertin, Emanuel A.             0.0          0.0         1           2
Martin, William J.             0.16         0.058       163         52
Steffee, Susanne V.            0.403        0.5         640         80
Thachik, George M.             0.352        0.806       401         36
Rega, Jennifer J.              0.355        0.594       428         64
Carlson, James Edgar           0.285        0.438       302         16
Repard, Robert L.              0.218        0.667       197         6
Edgcomb, James R.              0.376        0.571       298         7
Reynolds, Abram Frank          0.0          0           1           0
Haberl, Guy B.                 0.409        0.36        457         139
Bianco, Thomas M.              0.583        0.0         12          3
Mark, David W.                 0.358        0.656       573         125
Wheeler, George W.             1.0          0           2           0
Costanzo, Valarie S.           0.071        0.333       28          3
Kanalis, Joshua P.             0.288        0.292       513         120
Redlinger, Robert W.           0.406        0.555       685         229
Wilson, Mark                   0.497        0.662       336         80
Thompson, Curtis               0.321        0.585       358         41
Hopkins, Larry W.              0.499        0.708       509         130
Havelka, Gary H.               0.484        0.867       254         30
Ellis, James C.                0.282        0.651       376         43
Dutton, Jay H.                 0.0          0           2           0
Gilman, Gary J.                0.286        0.4         63          15
Lucas, Michael J.              0.333        0.471       90          34
McDonald, Traci L.             0.265        0.481       475         52
DiSalle, John F.               0.333        0.25        24          8
Gilmore, David L.              0            0.0         0           1
Baker, Brian K.                0.365        0.583       334         24
Bingham, Cyril Jr.             0.435        0.5         62          8
Bingham, H. Cyril Jr.          0.421        0.714       290         28
Calhoun, Kathy S.              0.376        0.316       399         19
Osman, Tonya M.                0.307        0.312       241         16
Osman, Tonya                   0.5          1.0         40          2
Hollister, Jeffrey L.          0.526        1.0         268         7
Cordner, Jodi L.               0.355        0.5         282         12
Brainard, Suzanne M.           0.297        0.5         212         2
Lefaiver, Joseph R.            1.0          0.0         1           1
Stuck-Lewis, Denise            0.287        0.548       334         62
Urbaniak, Paul G.              0.608        0.609       209         261
Garhart, John                  0.616        0.444       73          36
DiSantis, Ernest J. Jr.        0.667        0           3           0
Mackendrick, Chris K.          0.336        0.833       369         42
Hammer, Scott B.               0.413        0.645       298         31
Strohmeyer, Susan D.           0.25         0.413       420         92

## Mean Bail Amount for Black v. White defendants

In [177]:
def getMeanBail(x):
    
    df = x.copy()
    quant = np.quantile(df.BailActionAmount, 0.99) #Removing outliers
    df = df[df.BailActionAmount<quant]
    
    return np.mean(df.BailActionAmount)

In [179]:
sub = df[df.BailType=='Monetary']
countyList = list(df.county.unique())

black = sub[sub.DefendantRace=='Black']
white = sub[sub.DefendantRace=='White']

### State

In [180]:
getMeanBail(black)

38700.61967697773

In [181]:
getMeanBail(white)

27572.555135439507

### County

In [187]:
for i in range(len(countyList)):
    
    whiteBailAmount = np.round(getMeanBail(white[white.county==countyList[i]]),3)
    blackBailAmount = np.round(getMeanBail(black[black.county==countyList[i]]),3)
      
    
    print(f"{countyList[i]:15} {whiteBailAmount:<10} {blackBailAmount:<10}")

Potter          19338.462  15700.0
Cumberland      23280.564  34036.613
Pike            21534.016  34754.902
Forest          22343.75   21437.5
Wayne           32100.772  28681.818
Fulton          57878.788  24000.0
Lackawanna      26940.471  41103.899
Dauphin         32312.922  40031.238
Huntingdon      18028.132  22010.309
Somerset        33896.27   78071.429
Cameron         26481.481  10000.0
Montgomery      21885.175  29168.796
Tioga           18916.287  30454.955
Washington      19877.786  33526.861
Bedford         49175.889  65010.0
Susquehanna     27137.793  29807.692
Erie            23611.419  38881.395
Bucks           58683.401  73634.626
Carbon          24452.426  35236.275
Bradford        32077.371  63125.0
Fayette         17203.453  25443.667
Jefferson       45706.776  35040.0
Schuylkill      19996.062  28947.368
Northumberland  38641.424  63255.285
Monroe          21494.509  34085.027
Lawrence        15192.057  25778.481
Delaware        31974.498  43249.857
Indiana         15478.599  20860.656
Mercer          23004.762  29504.412
Cambria         28879.176  51482.686
Mifflin         35330.584  52219.298
Columbia        33129.637  57746.914
Blair           29256.138  43725.914
Lehigh          16341.45   25138.041
Elk             21092.593  14375.0
Allegheny       15880.875  21079.837
Centre          34614.482  45975.709
Beaver          13732.635  26144.581
Northampton     24094.947  34972.084
McKean          23474.828  34911.111
Adams           26077.182  29478.571
Wyoming         25042.175  22611.111
Chester         22836.373  32205.103
Venango         35510.142  48711.765
Franklin        50241.923  61406.76
Butler          12247.571  42155.067
Greene          15106.889  20977.273
Montour         27448.699  25555.556
Union           25806.667  34666.667
Lancaster       48382.934  57667.827
Westmoreland    17071.895  30920.101
Perry           24007.303  41125.938
Lycoming        37028.252  77029.833
Philadelphia    43459.231  54301.735
Clarion         20698.022  14200.0
Clearfield      23214.688  43890.0
Berks           27398.662  35038.963
Warren          25369.085  32692.308
Sullivan        18666.667  5000.0
Clinton         19816.813  29609.008
Crawford        21504.854  32600.0
Snyder          27551.351  29658.537
York            18416.058  30258.408
Armstrong       13560.0    18541.096
Lebanon         23901.947  36343.333
Juniata         22330.065  29166.667
Luzerne         32968.195  47113.404

## % of criminal cases that are Black v. white

### State

In [188]:
df.DefendantRace.value_counts()/len(df)

White                               0.675659
Black                               0.290874
Unknown/Unreported                  0.012865
Asian/Pacific Islander              0.003850
Asian                               0.003705
Native American/Alaskan Native      0.000739
Bi-Racial                           0.000460
Native Hawaiian/Pacific Islander    0.000030
Name: DefendantRace, dtype: float64

### County

In [216]:
out = df[df.DefendantRace.isin(['Black','White'])].groupby(['county','DefendantRace'])['OTN'].count().reset_index()
out = out.pivot(index='county',columns='DefendantRace', values='OTN').reset_index()
out.columns.name = None
out.columns = ['county','blackCases','whiteCases']



totalCases = df.county.value_counts().reset_index()
totalCases.columns = ['county','totalCases']

out = out.merge(totalCases, on ='county',how='left')

out['blackCases']  = out.blackCases/out.totalCases
out['whiteCases']  = out.whiteCases/out.totalCases

In [217]:
# 87% of the cases in Adams are made up of white defendants, 10% by black defendants
out

          county  blackCases  whiteCases  totalCases
0          Adams    0.101656    0.875241        2597
1      Allegheny    0.382209    0.600353       32286
2      Armstrong    0.063749    0.913020        1851
3         Beaver    0.279681    0.671235        6275
4        Bedford    0.064840    0.911096        1496
..           ...         ...         ...         ...
62    Washington    0.166203    0.802460        6829
63         Wayne    0.046192    0.926342         801
64  Westmoreland    0.157589    0.791286       12577
65       Wyoming    0.023170    0.955514        1079
66          York    0.254286    0.730179       16800

[67 rows x 4 columns]

## % of cash bail cases that are Black v. white

### State

In [212]:
# Of all the monetary cases, 60% of them have white defendants and 37% have black defendants
sub = df[df.BailType == 'Monetary']

sub.DefendantRace.value_counts()/len(sub)

White                               0.600771
Black                               0.373838
Unknown/Unreported                  0.009694
Asian/Pacific Islander              0.003803
Asian                               0.002319
Native American/Alaskan Native      0.000668
Bi-Racial                           0.000376
Native Hawaiian/Pacific Islander    0.000006
Name: DefendantRace, dtype: float64

### County

In [213]:

out = sub[sub.DefendantRace.isin(['Black','White'])].groupby(['county','DefendantRace'])['OTN'].count().reset_index()
out = out.pivot(index='county',columns='DefendantRace', values='OTN').reset_index()
out.columns.name = None
out.columns = ['county','blackCases','whiteCases']



totalCases = sub.county.value_counts().reset_index()
totalCases.columns = ['county','totalCases']

out = out.merge(totalCases, on ='county',how='left')

out['blackCases']  = out.blackCases/out.totalCases
out['whiteCases']  = out.whiteCases/out.totalCases

In [214]:
out

          county  blackCases  whiteCases  totalCases
0          Adams    0.146684    0.841837         784
1      Allegheny    0.501317    0.487079       14047
2      Armstrong    0.097368    0.878947         760
3         Beaver    0.366797    0.601040        3078
4        Bedford    0.088235    0.885813         578
..           ...         ...         ...         ...
62    Washington    0.238059    0.738247        2659
63         Wayne    0.080537    0.879195         298
64  Westmoreland    0.248684    0.713963        3989
65       Wyoming    0.025974    0.953247         385
66          York    0.310836    0.678139        7438

[67 rows x 4 columns]

# Identifying Outliers

### Outlier Counties

In [218]:
out = df[df.DefendantRace.isin(['Black','White'])].groupby(['county','DefendantRace'])['OTN'].count().reset_index()
out = out.pivot(index='county',columns='DefendantRace', values='OTN').reset_index()
out.columns.name = None
out.columns = ['county','blackCases','whiteCases']

In [219]:
out

          county  blackCases  whiteCases
0          Adams         264        2273
1      Allegheny       12340       19383
2      Armstrong         118        1690
3         Beaver        1755        4212
4        Bedford          97        1363
..           ...         ...         ...
62    Washington        1135        5480
63         Wayne          37         742
64  Westmoreland        1982        9952
65       Wyoming          25        1031
66          York        4272       12267

[67 rows x 3 columns]

In [222]:
print(f"{len(out[out.blackCases<50])} counties where there are less than 50 cases associated with black defendants")

out[out.blackCases<50]

15 counties where there are less than 50 cases associated with black defendants

         county  blackCases  whiteCases
11      Cameron           2         110
19     Crawford          30         738
23          Elk          18         781
26       Forest          20         103
28       Fulton          38         345
29       Greene          39         795
32    Jefferson          37        1129
33      Juniata          16         439
46      Montour          26         249
52       Potter           8         585
56     Sullivan           8          95
57  Susquehanna          21         762
61       Warren          20         811
63        Wayne          37         742
65      Wyoming          25        1031

### Outlier MDJs

In [223]:
out = df[df.DefendantRace.isin(['Black','White'])].groupby(['BailActionAuthority','DefendantRace'])['OTN'].count().reset_index()
out = out.pivot(index='BailActionAuthority',columns='DefendantRace', values='OTN').reset_index()
out.columns.name = None
out.columns = ['BailActionAuthority','blackCases','whiteCases']

In [224]:
out

     BailActionAuthority  blackCases  whiteCases
0       Abate, Frank Jr.         1.0         3.0
1      Abraham, Randy S.         2.0        16.0
2      Adams, H. Anthony       158.0       644.0
3       Adams, Joseph C.         1.0         1.0
4       Aigner, Paula M.       112.0       765.0
...                  ...         ...         ...
1198        Zucco, Linda        81.0       165.0
1199   Zulick, Arthur L.         6.0         7.0
1200    Zungali, Michael        42.0       440.0
1201      Zupsic, Joseph         NaN         1.0
1202       Zyra, Gary M.        89.0        82.0

[1203 rows x 3 columns]

In [228]:
print(f"{len(out[out.blackCases<30])} MDJs out of total {len(out)} have less than 30 cases associated with black defendants")

out[out.blackCases<30]

510 MDJs out of total 1203 have less than 30 cases associated with black defendants

                          BailActionAuthority  blackCases  whiteCases
0                            Abate, Frank Jr.         1.0         3.0
1                           Abraham, Randy S.         2.0        16.0
3                            Adams, Joseph C.         1.0         1.0
8                           Albright, Kent H.         1.0         1.0
9     Allegheny Arraignment Court MDJ 05-0-04        11.0        13.0
...                                       ...         ...         ...
1191                         Zito, Leonard N.         3.0         3.0
1193                       Zoller, Richard H.         3.0         2.0
1194                        Zook, Jeremiah D.        15.0        35.0
1195                         Zottola, John A.         1.0         NaN
1199                        Zulick, Arthur L.         6.0         7.0

[510 rows x 3 columns]